#title {
    text-align: center;
    font-size: 20pt;
}

html {
    height: 100%;
}

body { 
    background-color: #3a3a3a;   
    color: white;
    /* height: 100%; */
    width: 100%;
}

.bg {
    background-color: #3a3a3a;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.button:hover {
    transition: 0.5s;
}

.body-center {
    text-align: center;
}

.shapes {
    margin: 25px auto auto 150px;
}

.shapes li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.shapes .button {
    width: 150px;
}

#workcanvas {
    background-color: #d8d8d8;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    /* margin-right: 25px; */
    /* width: 900px ; */
    /* height: 380px; */
    resize: horizontal;
    overflow: auto;
}

#commandLine {
    width: 400px;
    margin: 25px 0;
    margin-left: 15px;
}

#list-of-shapes {
    position: absolute;
    float: left;
    left: 15px;
    top: 250px;
}


.li-style:hover {
    cursor: pointer;
}

.transforms {
    position: relative;
    float: left;
    margin-top;
}

.transforms li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.transforms .button {
    width: 150px;
}

#list-of-shapes {
    overflow-y: auto;
    max-height: 250px;
}

#help-btn {
    color: white;
    position: absolute;
    top: 5px;
    right: 15px;
}

.modal {
    color: black;
}

.modal-card {
    width: 800px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal .modal-card-body {
    overflow-y: auto;
    max-height: 500px;
    text-align: justify;
}

.subtitle {
    font-weight: 700;
}

.description {
    font-weight: 500;
}

.modal-card-title {
    font-weight: 700;
}