#title {
    text-align: center;
    font-size: 20pt;
}

.body-center {
    text-align: center;
}

.forms {
    margin-top: 25px;
}

.forms li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

#workcanvas {
    border: 5px;
    border-color: black;
    border-style: solid;
    /* border-radius: 10px; */
    cursor: pointer;
    margin-top: 25px;
}

#commandLine {
    width: 400px;
    margin: 25px 0;
}

#list-of-shapes {
    position: absolute;
    right: 50px;
    top: 140px;
}

#list-of-shapes li:hover {
    cursor: pointer;
}